@font-face {
  font-family: mainFont;
  src: url(Radeil3DDemoRuderight-4n7xD.otf);
}
body{
    background-color: rgb(227, 244, 255);
    font-family: mainFont;
}
h1 {
    justify-self: center;
    font-size: 50px;
}
#calcBackground {
    justify-self: center;
    background-color: cadetblue;
    border-radius: 5px;
    border: solid 3px white;
    width: 300px;
    height: 300px;
}
button{
    font-size: 25px;
    border: solid 2px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(215, 247, 255);
    font-size: 30px;
}